@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@500&display=swap');

html{
  
  box-sizing: border-box;
  font-family: 'Noto Sans JP';

}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  margin: 0 100px 10px 0;
  font-size: 11px;
}